---
title: "Scenario-based Compositional Verification of Autonomous Systems with Neural Perception"
collection: publications
category: conferences
permalink: /publication/saiv-2025-scenario
excerpt: 'Compositional verification workflow that combines scenario specifications with perception-driven components.'
date: 2025-11-07
venue: 'International Symposium on AI Verification (SAIV). 2025'
year: 2025
paperurl: 'https://arxiv.org/abs/2504.20942'
citation: '<strong>Christopher Watson</strong>, Rajeev Alur, Divya Gopinath, Ravi Mangal, Corina Păsăreanu. "<u>Scenario-based Compositional Verification of Autonomous Systems with Neural Perception.</u>" <i>Symposium on AI Verification (SAIV)</i>, 2025.'
selected: False
order: 700
---
